* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-background {
    background: rgb(34, 34, 34);
    width: 100%;
    height: 50px;
    position: relative;
}

.main-container {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-bar-container {
    width: 100%;
}

.nav-bar {
    margin-top: 14px;
    margin-bottom: 20px;
}

.nav-title-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: rgb(157, 157, 157);
}

.nav-title-button:hover {
    color: white;
}

.nav-button-container {
    margin-left: 355px;
    display: inline-block;
}

.nav-button {
    margin-left: 25px;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(157, 157, 157);
}

.nav-button:hover {
    color: white;
}

.slide {
    text-align: center;
}

.slide img {
    width: 1000px;
    height: 405px;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
}

.hr-line {
    border: 1px solid rgb(238, 238, 238);
}

.first-section {
    text-align: center;
    margin-top: 20px;
}

.first-section-container {
    width: 320px;
    height: 195px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid black;
    border: 1px solid rgb(200, 200, 200);
    background: white;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
}

#first-section-title {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    background: rgb(238, 238, 238);
    font-size: 12px;
}

#first-section-content {
    padding: 10px;
}

#first-section-button {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid rgb(200, 200, 200);
    text-align: center;
}

#first-section-button a {
    text-decoration: none;
    color: black;
}

#first-section-button:hover {
    background: rgba(0, 0, 0, 0.1);
}
