* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-background {
    background: rgb(34, 34, 34);
    width: 100%;
    height: 50px;
    position: relative;
}

.main-container {
    width: 1000px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.nav-bar-container {
    width: 100%;
}

.nav-bar {
    margin-top: 14px;
}

.nav-title-button {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: rgb(157, 157, 157);
}

.nav-title-button:hover {
    color: white;
}

.nav-button-container {
    margin-left: 350px;
    display: inline-block;
}

.nav-button {
    margin-left: 25px;
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(157, 157, 157);
}

.nav-button:hover {
    color: white;
}

.slide {
    margin-top: 25px;
    text-align: center;
}

.slide img {
    width: 1000px;
    height: 405px;
    border-radius: 5px;
}

.main-title-1, .main-title-2, .main-title-3, .main-title-4 {
    margin-top: 30px;
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
}

.hr-line {
    border: 1px solid rgb(238, 238, 238);
}

.first-section {
    text-align: center;
    margin-top: 20px;
}

.first-section-container {
    width: 320px;
    height: 195px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background: white;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
}

#first-section-title {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgb(200, 200, 200);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(238, 238, 238);
    font-size: 12px;
}

#first-section-content {
    padding: 10px;
}

#first-section-button {
    width: 100px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    text-align: center;
}

#first-section-button a {
    text-decoration: none;
    color: black;
}

#first-section-button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.second-section {
    text-align: center;
    margin-top: 20px;
}

.second-section-container {
    width: 320px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background: white;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
    position: relative;
}

.second-section-container-bis {
    width: 320px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: inline-block;
    background: white;
    text-align: left;
    font-weight: 300;
    font-size: 13px;
}

#second-section-title {
    width: 100%;
    padding: 10px;
    font-size: 12px;
    position: relative;
}

.price {
    position: absolute;
    right: 10px;
}

.product-link {
    color: rgb(65, 122, 178);
    font-weight: 400;
    text-decoration: none; 
}

.product-link:hover {
    color: rgb(0, 67, 114);
    text-decoration: underline;
}

#second-section-content {
    padding: 10px;
}

#second-section-review {
    color: rgb(198, 122, 130);
    width: 100px;
    padding: 5px;
    margin-left: 5px;
    margin-top: 25px;
}

.reviews {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-weight: 500;
    color: rgb(198, 122, 130);
}

#second-section-button {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 5px;
    background: rgb(65, 122, 178);
    border: 1px solid rgb(59, 110, 160);
    border-radius: 5px;
    text-align: center;
}

#second-section-button a {
    text-decoration: none;
    color: white;
}

#second-section-button:hover {
    background: rgb(0, 67, 114);
}

.easter-egg-title {
    width: 200px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.easter-egg-container {
    width: 500px;
    margin: auto;
    margin-bottom: 60px;
    padding: 50px;
    text-align: center;
    border: 5px solid rgb(102, 220, 115);
    border-radius: 20px;
}

.easter-egg-container img {
    width: 100%;
}

.easter-egg-container:hover {
    background: rgb(2, 22, 49);
}

.easter-egg-container:hover .rocket {
    display: block;
}

.rocket {
    display: none;
    margin-left: 20px;
    text-decoration: none;
    font-size: 65px;
    font-weight: bold;
    color: rgb(102, 220, 115);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer-container {
    width: 100%;
    height: 460px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}

#footer-list {
    margin-top: 10px;
    margin-left: 40px;
}

#footer-content {
    width: 55%;
    margin-top: 10px;
    margin-bottom: 30px;
}

.banner-container {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
    background: rgb(245, 245, 245);
}

#banner-content {
    width: 70%;
    vertical-align: middle;
    display: inline-block;
}

#banner-button {
    width: 29%;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    background: rgb(65, 122, 178);
    border: 1px solid rgb(59, 110, 160);
    border-radius: 5px;
    display: inline-block;
}

#banner-button a {
    text-decoration: none;
    color: white;
}

#banner-button:hover {
    background: rgb(0, 67, 114);
}

.copyright {
    margin-top: 40px;
}

.copyright a {
    color: rgb(65, 122, 178);
    text-decoration: none;
}

/* Fine */